{% extends "settings/settings_base.html" %}
{% block settings_title %}Business Details{% endblock %}
{% block settings_content %}
<form method="post" enctype="multipart/form-data" class="space-y-6">
    {% csrf_token %}
    <div class="form-light-group">
        <label class="form-light-label">Company Name</label>
        {{ form.company_name }}
    </div>
    <div class="form-light-group">
        <label class="form-light-label">Business Email</label>
        {{ form.business_email }}
    </div>
    <div class="form-light-group">
        <label class="form-light-label">Address</label>
        {{ form.business_address }}
    </div>
    <div class="grid grid-cols-2 gap-6">
        <div class="form-light-group">
            <label class="form-light-label">Currency</label>
            {{ form.default_currency }}
        </div>
        <div class="form-light-group">
            <label class="form-light-label">Invoice Prefix</label>
            {{ form.invoice_prefix }}
        </div>
    </div>
    <button type="submit" class="btn-light-primary">Save Changes</button>
</form>
{% endblock %}
